<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/colors.css">
    <link rel="stylesheet" href="/stylesheets/miscStyles/buttons.css">
    <link rel="stylesheet" href="/stylesheets/buyConfPage.css">
    <link rel="icon" href="/images/logo.jpg">
    <title>Comprato!</title>
</head>
<body>
<img class="big_logo" src="/images/logo.jpg" alt="logo">
<h1>COMPLIMENTI!</h1>
<h2>HAI ACQUISTATO IL CORSO CON SUCCESSO!</h2>
<button id="btn" class="blueBtn">Se non vieni reinderizzato cliccami</button>
</body>
<script src="/javascripts/confBuyPage.js"></script>
</html>