::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6E6E6E;
}